#container {
    margin: 0 auto;
    width: 960px;
    background-color: lightBlue;
}

#header {
    padding:20px;
    border-bottom: solid 2px;
}

.fridge-logo {
    display: inline-block;
    height: 70px;
    width: 55px;
    margin-bottom: -25px;
    padding-right: 5px;
}

#content {
    clear: left;
    padding: 20px;
}

#header h1.heading {
    margin: 0;
    display: inline-block;
}

h1.heading span.fridgetext {
    font-family: 'Kelly Slab', sans-serif;
}

h1.heading span.pagetitletext {
    font-family: 'Francois One', sans-serif;
}

div.styleform {
    width: 400px;
}

div.styleform label, div.styleform input {
    display: block;
    width: 150px;
    float: left;
    margin-bottom: 10px;
}

div.styleform label {
    text-align: right;
    padding-right: 20px;
}

div.styleform br {
    clear: left;
}

div.styleform input[type=submit] {
    margin-left: 170px;
    width: 154px;
}

#footer {
    background-color: #ececec;
}
