#container {
    margin: 0 auto;
    width: 960px;
    background-color: lightBlue;
}

#header {
    padding:20px;
    border-bottom: solid 2px;
}

.fridge-logo {
    display: inline-block;
    height: 70px;
    width: 55px;
    margin-bottom: -25px;
    padding-right: 5px;
}

#content {
    clear: left;
    padding: 20px;
}

#header h1.heading {
    margin: 0;
    display: inline-block;
}

h1.heading span.fridgetext {
    font-family: 'Unkempt', cursive;
}

h1.heading span.pagetitletext {
    font-family: 'Francois One', sans-serif;
}

#footer {
    background-color: #ececec;
}
