{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block page_title %}:Login{% endblock %}
{% block content %}
<div id="login_form">
    <form action="/login" method="POST">
        <input type="hidden" name="csrf" value="{{csrf_nonce}}" />
        <label for="username">Username: </label>
        <input name="username" id="username" type="text" />
        <label for="password">Password: </label>
        <input name="password" id="password" type="password" />
        <input type="submit" value="Login" />
    </form>
</div>
{% endblock %}
